<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <script type="module" src="../static/js/admin.js"></script>
    <title>项目管理系统 | 档案管理</title>
  </head>
  <body>
    <ul class="title bg-green">
      <li>档案管理</li>
    </ul>
    <div class="button_area" style="justify-content: right">
      <a href="./admin_list.html" style="margin-right: 10px"
        ><button>返回</button></a
      >
      <a href="./login.html"><button id="exit">登出</button></a>
    </div>
    <div class="form_cover green">
      <form action="" method="post" id="project_form">
        <!-- 项目名称 -->

        <!-- 项目类型 -->

        <!-- 项目状态 -->

        <div class="mul">
          <label for="">可见项目:</label>
          <div class="mul_check" id="project_admin">
            <!-- <div>
              <input type="checkbox" id="apple" name="fruit" value="苹果" />
              <label for="apple">苹果</label>
            </div>
            <div>
              <input type="checkbox" id="apple" name="fruit" value="苹果" />
              <label for="apple">苹果</label>
            </div> -->
          </div>
        </div>

        <button type="submit" class="bg-green">提交</button>
      </form>
    </div>
  </body>
</html>
