<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <script type="module" src="../static/js/cost.js"></script>
    <title>项目管理系统</title>
  </head>
  <body>
    <!-- <div id="dashboard">
      <ul id="dash_list"></ul>
    </div> -->
    <ul class="title" style="background-color: #33a6b8; color: #ffffff">
      <li>项目成本</li>
    </ul>

    <div class="button_area">
      <form action="" method="post" id="cost_form">
        <label for="">成本项</label>
        <input type="text" id="name" placeholder="输入成本项目" name="name" />
        <label for="">成本金额</label>
        <input type="text" id="cost" placeholder="输入成本金额" name="cost" />
        <label for="">备注</label>
        <input type="text" id="remark" placeholder="输入备注" name="remark" />
        <button type="submit" style="background-color: #33a6b8; color: #ffffff">
          新增成本
        </button>
      </form>

      <form action="" method="post" enctype="multipart/form-data">
        <label for="">上传</label>
        <input type="file" name="file" accept=".xlsx, .xls" id="excelFile" />

        <button
          type="submit"
          style="background-color: #33a6b8; color: #ffffff"
          id="upload_button"
        >
          批量上传
        </button>
        <!-- <input type="submit" value="Upload" id="upload_button" /> -->
      </form>
      <a href="./input.xlsx"><button>模板</button></a>
      <a href="./index.html"><button>返回</button></a>
      <a href="./login.html"><button id="exit">登出</button></a>
    </div>
    <ul class="title" style="background-color: #33a6b8; color: #ffffff">
      <li>项目名称</li>
      <li>项目类型</li>
      <li>项目状态</li>
      <li>项目金额</li>
      <li>项目成本</li>
      <li>项目发票</li>
      <li>项目利润</li>
      <li>项目利润率</li>
      <li>项目管理</li>
      <li>项目专家</li>
      <li>开始时间</li>
      <li>结束时间</li>
    </ul>
    <div id="container"></div>
    <ul class="title" style="background-color: #33a6b8; color: #ffffff">
      <li>序号</li>
      <li>成本项</li>
      <li>成本金额</li>
      <li>备注</li>
      <li>操作</li>
    </ul>
    <div id="c_container"></div>
  </body>
</html>
