<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <script type="module" src="../static/js/main.js"></script>
    <title>项目管理系统</title>
  </head>
  <body>
    <div id="dashboard">
      <ul id="dash_list"></ul>
    </div>
    <div id="query_area">
      <form action="" method="get" id="query_form">
        <div>
          <label for="">项目名称</label>
          <input
            type="text"
            name="name"
            placeholder="请输入项目名称，支持模糊查询"
            id="project_name"
            style="width: 200px"
          />
        </div>

        <div>
          <label for="">项目类型</label>
          <select id="type" name="type_id"></select>
        </div>
        <div>
          <label for="">项目管理</label>
          <select id="m_charge" name="charge_m_id"></select>
        </div>
        <div>
          <label for="">项目专家</label>
          <select id="p_charge" name="charge_p_id"></select>
        </div>
        <button type="submit">提交筛选</button>
        <button type="reset">重置筛选</button>
      </form>
    </div>
    <div class="button_area">
      <a href="./add.html"><button class="add">新增项目</button></a>
      <a href="./member.html" id="member_manage"><button>人员管理</button></a>
      <a href="./admin_list.html" id="admin_manage"
        ><button>管理员管理</button></a
      >
      <a href="./cost_overall.html" id="admin_manage"
        ><button>成本一览表</button></a
      >
      <a id="excel" href="#"><button>导出</button></a>
      <a href="./login.html"><button id="exit">登出</button></a>
    </div>
    <ul class="title">
      <li>
        项目名称<span class="sort-arrow" id="nameasc">🔺</span
        ><span class="sort-arrow" id="namedesc">🔻</span>
      </li>
      <li>项目类型</li>
      <li>项目状态</li>
      <li>
        项目金额<span class="sort-arrow" id="amountasc">🔺</span
        ><span class="sort-arrow" id="amountdesc">🔻</span>
      </li>
      <li>
        项目成本<span class="sort-arrow" id="costasc">🔺</span
        ><span class="sort-arrow" id="costdesc">🔻</span>
      </li>
      <li>未付成本</li>
      <li>项目发票</li>
      <li>
        项目利润<span class="sort-arrow" id="profitasc">🔺</span
        ><span class="sort-arrow" id="profitdesc">🔻</span>
      </li>
      <li>
        项目利润率<span class="sort-arrow" id="profitrateasc">🔺</span
        ><span class="sort-arrow" id="profitratedesc">🔻</span>
      </li>
      <li>项目管理</li>
      <li>项目专家</li>
      <li>
        开始时间<span class="sort-arrow" id="starteasc">🔺</span
        ><span class="sort-arrow" id="startdesc">🔻</span>
      </li>
      <li>
        结束时间<span class="sort-arrow" id="endasc">🔺</span
        ><span class="sort-arrow" id="enddesc">🔻</span>
      </li>
    </ul>
    <div id="container"></div>
  </body>
</html>
